# Fake News Detection through Machone Learing Techniques
* Author: Farah Amer Ayyad
* Supervisor: Professor Nazar Zaki
* College of IT, UAEU

In [1]:
import pandas as pd
import numpy as np

# Read Two Data Sets

In [2]:
df_fake = pd.read_csv("Dataset/Fake.csv", index_col=False)
df_true = pd.read_csv("Dataset/True.csv", index_col=False)

In [3]:
df_fake.head(5)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df_true.head(5)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

# 1. Encoding Categorical Class:

In [5]:
df_fake["class"] = 0
df_true["class"] = 1

In [6]:
df_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [7]:
df_true.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

# Merging both datasets into one

In [8]:
print(df_fake.size)
print(df_true.size)

117405
107085

In [9]:
df_merge = pd.concat([df_fake, df_true], axis =0 )
print(df_merge.size)
df_merge.head()

224490

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

# Shuffling the rows

In [10]:
df_merge = df_merge.sample(frac=1)
df_merge

,title,text,subject,date,class
23405,ART OF WAR: What’s Behind Russia’s ‘Ides of Ma...,"Appear weak when you are strong, and strong w...",Middle-east,"March 18, 2016",0
19380,"BAD NEWS FOR OBAMA, Black Lives Matter Terror ...",The insatiable 24/7 news cycle bolstered by ...,left-news,"Dec 30, 2016",0
15362,"EU, U.S. affirm Lebanon support, diverging fro...",BEIRUT (Reuters) - The European Union and the ...,worldnews,"November 8, 2017",1
11745,"Food security in Middle East, North Africa det...",CAIRO (Reuters) - Food security in the Middle ...,worldnews,"December 21, 2017",1
12273,REMEMBER WHEN Democrat Operatives Were Caught ...,Watch:. @Jordanfabian If there is no #VoterFra...,politics,"Nov 28, 2016",0
...,...,...,...,...,...
1395,White House welcomes efforts to study gun 'bum...,WASHINGTON (Reuters) - The White House said on...,politicsNews,"October 5, 2017",1
5925,KLM refuses U.S. carriage to passengers from p...,AMSTERDAM (Reuters) - Dutch airline KLM said o...,politicsNews,"January 28, 2017",1
16996,UNREAL! Michelle Obama Gets $70 Million For Pr...,Unreal! Mooch gets millions for Pakistani girl...,Government News,"Oct 28, 2015",0
20879,AUSTRIAN Schools Are Being Radicalized By Youn...,This story is a perfect example of how Muslim ...,left-news,"Mar 13, 2016",0
13402,WATCH OBAMA’S BROTHER Rip Barack And Endorse A...,"Apparently, the U.S. leader has attitude issu...",politics,"Jul 28, 2016",0

# 2. Dimension Reduction / Feature Selection:

In [11]:
final_df = pd.DataFrame()

In [12]:
# Dropping the index and Date columns (attributes):
final_df['Title'] = df_merge['title']
final_df['Text'] = df_merge['text']
final_df['Class'] = df_merge['class']

In [13]:
final_df.reset_index(drop=True, inplace=True)

In [14]:
final_df

,Title,Text,Class
0,ART OF WAR: What’s Behind Russia’s ‘Ides of Ma...,"Appear weak when you are strong, and strong w...",0
1,"BAD NEWS FOR OBAMA, Black Lives Matter Terror ...",The insatiable 24/7 news cycle bolstered by ...,0
2,"EU, U.S. affirm Lebanon support, diverging fro...",BEIRUT (Reuters) - The European Union and the ...,1
3,"Food security in Middle East, North Africa det...",CAIRO (Reuters) - Food security in the Middle ...,1
4,REMEMBER WHEN Democrat Operatives Were Caught ...,Watch:. @Jordanfabian If there is no #VoterFra...,0
...,...,...,...
44893,White House welcomes efforts to study gun 'bum...,WASHINGTON (Reuters) - The White House said on...,1
44894,KLM refuses U.S. carriage to passengers from p...,AMSTERDAM (Reuters) - Dutch airline KLM said o...,1
44895,UNREAL! Michelle Obama Gets $70 Million For Pr...,Unreal! Mooch gets millions for Pakistani girl...,0
44896,AUSTRIAN Schools Are Being Radicalized By Youn...,This story is a perfect example of how Muslim ...,0
44897,WATCH OBAMA’S BROTHER Rip Barack And Endorse A...,"Apparently, the U.S. leader has attitude issu...",0

# 3. Data Sampling: --> Stratified Sampling so classes are represented equally

In [15]:
print("Length before sampling: ", len(final_df))

Length before sampling:  44898

In [16]:
# Sampling with a condition:

condition_1 = final_df['Class']==1
condition_0 = final_df['Class']==0

true_index_1 = condition_1[condition_1 == True].index
true_index_0 = condition_0[condition_0 == True].index

subset_1 = final_df[condition_1].sample(n = 500)
subset_0 = final_df[condition_0].sample(n = 500)

# Merge:
merged_final_df = pd.concat([subset_1, subset_0], axis =0).sample(frac=1)
merged_final_df.reset_index(drop=True, inplace=True)

In [17]:
merged_final_df

,Title,Text,Class
0,Trump Suffers HUMILIATING Reality Check After...,Donald Trump stroked his own ego again and got...,0
1,FATHER HOSPITALIZED After Telling SHARIA PATRO...,The EU has opened the floodgates to Muslims fr...,0
2,Saudi Arabia hopes U.S. will not recognize Jer...,RIYADH (Reuters) - Saudi Arabia has expressed ...,1
3,These 2 Orlando Hospitals Just Saved Pulse Ni...,The two Orlando-area hospitals that treated th...,0
4,PRESIDENT-ELECT TRUMP’S INAUGURAL COMMITTEE An...,"Today, the Presidential Inaugural Committee (P...",0
...,...,...,...
995,Trump denounced after assailing woman TV host ...,WASHINGTON (Reuters) - U.S. President Donald T...,1
996,"More than 180,000 people, mostly Kurds, displa...","BAGHDAD (Reuters) - More than 180,000 civilian...",1
997,"Military Officials: Trump LIED, Botched Yemen...","On Monday, White House Press Secretary Sean Sp...",0
998,Iranian foreign minister urges regional cooper...,BEIRUT (Reuters) - Iranian Foreign Minister Mo...,1
999,Russia accuses U.S.-led coalition of 'barbaric...,MOSCOW (Reuters) - Russia accused the U.S.-led...,1

In [18]:
print("Length After sampling: ", len(merged_final_df))

Length After sampling:  1000

# 4. Dealing with missing values: Removing Null Values:

In [19]:
print("Size before: ", len(merged_final_df))

Size before:  1000

In [20]:
merged_final_df = merged_final_df.loc[merged_final_df['Text'] != ' ']

In [21]:
print("Size after: ", len(merged_final_df))

Size after:  990

# 5. Removing Unfamiliar Characters:

In [22]:
chars = [';','/', '\\\\', '@', ':', '-', '_', '\'', '\""', '.', 'Ä', 'ô']
for c in chars:
    merged_final_df['Text'] = merged_final_df['Text'].str.replace(c,'')

/var/folders/mr/1znh0dx927b8k5_4v660c0x00000gn/T/ipykernel_6285/247355189.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_final_df['Text'] = merged_final_df['Text'].str.replace(c,'')
/var/folders/mr/1znh0dx927b8k5_4v660c0x00000gn/T/ipykernel_6285/247355189.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  merged_final_df['Text'] = merged_final_df['Text'].str.replace(c,'')
/var/folders/mr/1znh0dx927b8k5_4v660c0x00000gn/T/ipykernel_6285/247355189.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged_final_df['Text'] = merged_final_df['Text'].str.replace(c,'')

In [25]:
merged_final_df.head(5)

,Title,Text,Class
0,Trump Suffers HUMILIATING Reality Check After...,Donald Trump stroked his own ego again and got...,0
1,FATHER HOSPITALIZED After Telling SHARIA PATRO...,The EU has opened the floodgates to Muslims fr...,0
2,Saudi Arabia hopes U.S. will not recognize Jer...,RIYADH (Reuters) Saudi Arabia has expressed h...,1
3,These 2 Orlando Hospitals Just Saved Pulse Ni...,The two Orlandoarea hospitals that treated the...,0
4,PRESIDENT-ELECT TRUMP’S INAUGURAL COMMITTEE An...,"Today, the Presidential Inaugural Committee (P...",0

# Saving as CSV:

In [24]:
#final_df.to_csv("Dataset/Final_Dataset.csv", index=False)
#merged_final_df.to_csv("Dataset/Merged_Final_Dataset.csv", index=False)